*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f7fa;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
img{
    pointer-events:none;
    -webkit-user-drag:none;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,0.05);
}

.back-btn{
    text-decoration:none;
    color:#0071e3;
    font-weight:600;
}

.logo{
    justify-self:center;
    font-size:32px;
    font-weight:700;
}

/* CHECKOUT */

.checkout-container{
    padding:80px 8%;
}

.checkout-container h1{
    text-align:center;
    font-size:48px;
    margin-bottom:50px;
}

.checkout-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:40px;
}

.checkout-form,
.order-summary{
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.checkout-form h2,
.order-summary h2{
    margin-bottom:20px;
}

.checkout-form input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:15px;
}

.order-item{
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.order-item h4{
    margin-bottom:5px;
}

.order-item p{
    color:#666;
}

.order-summary h3{
    margin-top:25px;
    margin-bottom:25px;
    font-size:24px;
}

#placeOrderBtn{
    width:100%;
    border:none;
    padding:16px;
    border-radius:35px;
    background:#0071e3;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

#placeOrderBtn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

/* MOBILE */

@media(max-width:900px){

    .checkout-grid{
        grid-template-columns:1fr;
    }

    .checkout-container h1{
        font-size:36px;
    }
}

.checkout-product{
    display:flex;
    gap:15px;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.checkout-product img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:12px;
}

.checkout-info{
    flex:1;
}

.checkout-info p{
    color:#666;
    margin-top:5px;
}